pandas==1.1.2
emoji==0.6.0
cltk==0.1.117
matplotlib==3.1.0
stopwordsiso==0.5.1
seaborn==0.11.0
gensim==3.8.3
empath==0.89
parmap==1.5.2
langdetect==1.0.8
tqdm==4.50.0
scipy==1.4.1
numpy==1.19.1
transformers==3.2.0
nltk==3.4.5
gtrans==0.2
torch==1.4.0
GPUtil==1.4.0
laserembeddings==1.1.0
scikit_learn==0.24.1
